.circle {
  width: 50px;
  height: 60px;
  border-radius: 50%;
  font-size: 30px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  background:#1976D2;
  vertical-align:middle;
}

.example-spacer {
  flex: 1 1 auto;
}
